

.earth {
  background-color: brown;

}

.boss {
  background-color: darkred;
}

.wall {
  background-color: grey;
}

.health {
  background-color: green;
}

.monster {
  background-color: red;
}

.player {
  background-color: blue;
}

.weapon {
  background-color: gold;
}

.portal {
  background-color: purple;
}

.dark {
  background-color: black;
}

.tile {
  height: 7px;
  width: 7px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  display: inline-block;
  font-size: 0;
}





.dungeonRow {
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  white-space: nowrap;
  font-size: 0;
  display: flex;
  justify-content: center;
}